table {
	border-collapse: collapse;
}

.results th, .results td {
	border:1px solid black;
	padding:0.2ex 0.5em;	
}

.uri, .bnode {
	font-style: italic;
}

.undefined {
	color: gray;
}

#savedQueries {
	float:right;
}

#namespaces {
    border: 1px solid gray;
    white-space: nowrap;
    overflow: scroll;
}

#namespacesInfo {
    float:right;
    width: 60ex;
    clear: right;
}

.savedQuery {
	background-color: #FDFDF0;
	border: 1px solid #FEE0C6;
	padding: 4px;
}

.results th {
	background-color: #F1EDC2;
}

.results td.even {
	background-color: #FCF6CF;
}

.results td, .results th {
	border: 1px solid #FEE0C6;
}

.facetValue {
	-moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FEE0C6;
    background-color: #FCF6CF;
    padding: 2px 10px;
    margin: 2px 10px 2px 0px;
    white-space: nowrap;
    float: left;
}

.facet {
	clear: both;
}