table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

.results th, .results td {
	border:1px solid black;
	padding:0.2ex 0.5em;	
}

.uri, .bnode {
	font-style: italic;
}

.undefined {
	color: gray;
}

#savedQueries {
	/*float:right;*/
}

#namespaces {
    border: 1px solid gray;
    white-space: nowrap;
    overflow: scroll;
}

#namespacesInfo {
    /*float:right;*/
    width: 60ex;
    clear: right;
}

.savedQuery {
	background-color: #FDFDF0;
	border: 1px solid #FEE0C6;
	padding: 4px;
}

.results th {
	background-color: #F1EDC2;
}

.results td.even {
	background-color: #FCF6CF;
}

.results td, .results th {
	border: 1px solid #FEE0C6;
}



td {
	vertical-align: top;
}

.facetValue {
	-moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FEE0C6;
    background-color: #FCF6CF;
    padding: 2px 10px;
    margin: 2px 10px 2px 0px;
    float: left;
}

.items td {
	border-top: 1px solid #FEE0C6;
} 

.selectedValue {
    font-weight: bold;
    background-color: #FEE0C6;
}

.itemRow {
	clear: both;
}

.itemValue {
    font-weight: bold;
    white-space: nowrap;
}

.facet {
	clear: both;
}

tr.even .facetValue {
    background-color: #FFFFF2;
}

.items th {
	background-color: #FDFDF0;
}

.items {
	border: 1px solid #FEE0C6;
}