table {
	border-collapse: collapse;
}

td, th {
	text-align: left;
	vertical-align: top;
}

.uri, .bnode {
	font-style: italic;
}

.undefined {
	color: gray;
}

#savedQueries {
	/*float:right;*/
}

#namespaces {
    border: 1px solid gray;
    white-space: pre;
    overflow: scroll;
}

#namespacesInfo {
    /*float:right;*/
    width: 60ex;
    clear: right;    
}

.savedQuery {
	background-color: #FDFDF0;
	border: 1px solid #FEE0C6;
	padding: 4px;
}

.results th {
	background-color: #F1EDC2;
}

.results td.even {
	background-color: #FCF6CF;
}

.results td, .results th {
	border: 1px solid #8B8378;
    padding:0.2ex 0.5em;    
}



td {
	vertical-align: top;
}

.facetValue, .facetValueDuplicate {
	-moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FEE0C6;
    background-color: #FCF6CF;
    padding: 2px 10px;
    margin: 2px 10px 2px 0px;
    float: left;
}

.items td, .items th {
	border-top: 1px solid #FEE0C6;
} 

.selectedValue {
    font-weight: bold;
    background-color: #FEE0C6;
}

.itemRow {
	clear: both;
}

.itemValue {
    font-weight: bold;
    white-space: nowrap;
    padding: 0px 0.5em;
}

.facet {
	clear: both;
    background-color: #FDFDF0;
    margin: 1em 1em 1em 0em;
    border-style: solid none none solid;
    border-width: 1px 0px 0px 1px;
    border-color: gray;
}

.facetTitle {
	padding: 5px 10px;
	margin: 0px;
}

.facetValue {
	cursor: pointer;
}

tr.even .facetValue, tr.even .facetValueDuplicate {
    background-color: #FFFFF2;
}

.facetValueDuplicate {
    color: #C1CDCD;
}

.items th {
	background-color: #FDFDF0;
	text-align: left;
}

#facets .facetValues {
	max-height: 10em;
	overflow: auto;
    margin: 0px;
}

th.restriction {
    text-align: right;
}

.items {
	border: 1px solid #FEE0C6;
}

.facetValueInfo {
	margin-left: 10px;
}

input.quicksearch {
    display: block;
    float: right;
    margin: 4px;
}

.compare {
    display: block;
    float: right;
    margin: 4px;
}

#popup {
	position: fixed;
	top: 15%;
	background-color: white;
	border: 1px solid gray;
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
	height: 75%;
	padding: 1em;
	z-index: 9002;
	overflow: auto;
	background-image: url("/images/close.png");
	background-position: top right;
	background-repeat: no-repeat;
}

#popup .compare {
	display: none;
}

.table {
	display: none;
	margin: 0.5em;
}

.table td, .table th {
	border: 1px solid #8B8378;
    padding:0.2ex 0.5em;    
    text-align: left;
}